<div sport-class class="page-main-content">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">

			<div class="portlet bordered">
				<div class="portlet-title">
					<div class="caption">
						<i sport-class class="icon-settings primary-fc-light"></i>
						<span sport-class class="caption-subject bold uppercase primary-fc-light"> Selecciona un deporte</span>
					</div>
				</div>
				<div class="portlet-body">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="row">
								<div class="col-xs-3 col-sm-3 col-md-3">
									<div>
										<img data-ng-src="img/av_futbol.jpg" data-ng-click="changeSport({ value: 'futbol', name: 'Futbol' });" />
										<span><label>Futbol</label></span>
									</div>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3">
									<div>
										<img data-ng-src="img/av_futbol.jpg" data-ng-click="changeSport({ value: 'basket', name: 'Basket' });" />
										<span><label>Basquet</label></span>
									</div>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3">
									<div>
										<img data-ng-src="img/av_futbol.jpg" data-ng-click="changeSport({ value: 'volley', name: 'Volley' });" />
										<span><label>Volley</label></span>
									</div>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3">
									<div>
										<img data-ng-src="img/av_futbol.jpg" data-ng-click="changeSport({ value: 'all', name: 'Todos' });" />
										<span><label>Tenis</label></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>