<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="BaseConnectionStrings" type=" MYB.BaseApplication.Security.Configuration.Sections.ConfigConnectionStringSection, MYB.BaseApplication.Security.Configuration"/>
    <section name="BaseConnectionData" type=" MYB.BaseApplication.Security.Configuration.Sections.ConfigConnectionDataSection, MYB.BaseApplication.Security.Configuration"/>
    <section name="BaseMongoConnectionStrings" type=" MYB.BaseApplication.Security.Configuration.Sections.ConfigMonoConnectionStringSection, MYB.BaseApplication.Security.Configuration"/>
    <section name="BaseMongoConnectionData" type=" MYB.BaseApplication.Security.Configuration.Sections.ConfigMonoConnectionDataSection, MYB.BaseApplication.Security.Configuration"/>
    <section name="ResolveHostList" type=" MYB.BaseApplication.Security.Configuration.Sections.ConfigResolveHostListSection, MYB.BaseApplication.Security.Configuration"/>
    <section name="CustomConfigSection" type=" MYB.BaseApplication.Security.Configuration.Sections.ConfigSection`1[[TestApp.TestConfigElement, TestApp]], MYB.BaseApplication.Security.Configuration"/>
  </configSections>

  <connectionStrings>
    <remove name="MainConnectionString"/>
    <add name="MainConnectionString" connectionString="Provider=SQLOLEDB;Data Source=MarianoPC\SQLEXPRESS;Initial Catalog=TestFaltaUno;User Id=sa;Password=marianosql" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="WebDAV"/>
      <remove name="PageHandlerFactory-Integrated-4.0"/>
      <remove name="PageHandlerFactory-Integrated"/>
      <add name="PageHandlerFactory-Integrated" path="*.aspx" verb="GET,HEAD,POST,DEBUG,PUT,DELETE" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="PageHandlerFactory-Integrated-4.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG,PUT,DELETE" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>